<div class = "recalls">
    <div class = "recalls__icon">
        <img src="{{root}}/assets/images/info-icon.png" alt="info" class="recalls__icon-img"/>
    </div>
    <div class = "recalls__content">
        <div class = "recalls__content-header" id = "recalls__content-header"> Mae gan y cerbyd hwn wedi cael ei alw'n ôl </div>
        <span class = "recalls__content-text" id = "recalls__content-text"> Cysylltwch â'ch agosaf {{manufacturer}} deliwr i gael gwybodaeth ac i drefnu atgyweiriad am ddim. </span>
    </div>
</div>