<div class = "recalls">
    <div class = "recalls__icon">
        <img src="{{root}}/assets/images/info-icon.png" alt="info" class="recalls__icon-img"/>
    </div>
    <div class = "recalls__content">
        <div class = "recalls__content-header" id = "recalls__content-header"> This vehicle has an outstanding recall </div>
        <span class = "recalls__content-text" id = "recalls__content-text"> Contact your nearest {{manufacturer}} dealership for information and to arrange a free repair. </span>
    </div>
</div>
