<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>MOT test certificate</title>
  <style type="text/css" media="print, screen">
        {{~> assets/stylesheets/version-1 this}}
    </style>
</head>
<body>
<!-- certificate -->
<div class="certificate">
  <div class="certificate__wrapper">

    <!-- header -->
    <div class="header">
      <div class="header__crest">
        <img src="{{root}}/assets/images/dvsa-crest-1.1.png" alt="DVSA" class="header__crest-img"/>
      </div>

      <div class="header__crest-message">
        <span class="header__crest-message-text">
          {{watermark}}
        </span>
      </div>

      <div class="header__title">
        <h1 class="header__title-text">
          Contingency MOT Test Certificate
        </h1>
      </div>
    </div>
    <!-- /header -->

    <!-- boxes -->
    <div class="boxes">

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Contingency MOT Test Number
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Vehicle Registration Mark
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Vehicle Identification Number
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Make
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Model
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Colour
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Issuer's name
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Test Class
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Country of Registration
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Expiry Date
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Issued
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Test Station
          </span>
          <div class="boxes__item-box">
            <div id="test-station-id" class="boxes__item-content">
              <span class="boxes__item-text">
                {{vts}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-half boxes__item--medium">
          <span class="boxes__item-title">
            Odometer Reading and History
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-half boxes__item--medium">
          <span class="boxes__item-title">
            Inspection Authority
          </span>
          <div class="boxes__item-box">
            <div id="inspection-authority" class="boxes__item-content">
              {{#each inspectionAuthority}}
                <span class="boxes__item-text">
                  {{{tabulator this}}}
                </span>
              {{/each}}
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-half boxes__item--small">
          <span class="boxes__item-title">
            Additional Information
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-half boxes__item--small">
          <span class="boxes__item-title">
            Signature of Issuer
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

    </div>
    <!-- /boxes -->

    <!-- bottom -->
    <div class="bottom">
      <div class="bottom__inner bottom__inner--padding-top bottom__inner--padding-left">
        <h2 class="bottom__heading">
          About this document
        </h2>

        <p class="bottom__paragraph">
          <span class="bottom__paragraph-number">1</span>
          This is a test certificate issued whilst DVSA’s database of MOT Test results was not available. After resumption of normal service the details of the MOT test pass will be recorded on the database. Once this has been made, it is this entry, not the certificate, that will be used for legal purposes to confirm that your vehicle has passed its MOT Test. Until this entry is made, this document will be used for legal purposes to confirm that your vehicle has passed its MOT Test. If you have any doubts about the validity of this document, please confirm its validity as described below under “Crime Prevention”.
        </p>

        <p class="bottom__paragraph">
          <span class="bottom__paragraph-number">2</span>
          Once the details of this MOT Test pass have been recorded on DVSA’s database of MOT Test results, you may exchange this document for a printed version. This exchange may be obtained, free of charge, from the Vehicle Test Station that issued this certificate.
        </p>

        <h2 class="bottom__heading">
          Crime prevention
        </h2>

        <p class="bottom__paragraph">
          <span class="bottom__paragraph-number">3</span>
          To confirm that this certificate is a genuine record of DVSA’s MOT database record, please visit our website at www.gov.uk/check- mot-status or phone the MOT Status Check Service on 0300 123 9000*. To check the status you will need the registration mark of the vehicle and either the test number from the MOT test certificate or the document reference number from the V5C Registration Certificate when making enquiries. This is so that we can confirm that you have a legitimate interest in the vehicle. If you cannot confirm that an entry has been made please call DVSA on 0300 123 9000*.
        </p>

        <h2 class="bottom__heading">
          About the MOT Test
        </h2>

        <p class="bottom__paragraph">
          <span class="bottom__paragraph-number">4</span>
          An MOT test pass confirms that, when the vehicle was examined in accordance with Section 45 of the Road Traffic Act 1988, it met the minimum legal requirements for those items prescribed under the Act. It does not mean that the vehicle fully meets all legal requirements or that it will continue to be roadworthy for the next year. It is your responsibility to keep the vehicle maintained so that it would always meet MOT standards and be free from other defects.
        </p>

        <h2 class="bottom__heading">
          Vehicle condition
        </h2>

        <p class="bottom__paragraph">
          <span class="bottom__paragraph-number">5</span>
          If within 28 days of the test (three months for rust or corrosion related problems) you think that the vehicle should not have passed when it was tested, please phone DVSA on 0300 123 9000*.
        </p>

        <div class="bottom__paragraph bottom__paragraph--ct20-last-paragraph">
          *Your call may be monitored or recorded for lawful purposes.
        </div>
      </div>
    </div>
    <!-- bottom -->

    <!-- footer -->
    <div class="footer">
      <div class="footer__inner">
        <div class="footer__inner-left">
          <span class="footer__text">
            CT20/1.0
          </span>
        </div>

        <div class="footer__inner-right">
        </div>
      </div>
    </div>
    <!-- /footer -->

  </div>
</div>
<!-- /certificate -->
</body>
</html>
