<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>MOT test certificate</title>
  <style type="text/css" media="print, screen">
        {{~> assets/stylesheets/version-1 this}}
    </style>
</head>
<body>
<!-- certificate -->
<div class="certificate">
  <div class="certificate__wrapper">

    <!-- header -->
    <div class="header">
      <div class="header__crest">
        <img src="{{root}}/assets/images/dvsa-crest-1.1.png" alt="DVSA" class="header__crest-img"/>
      </div>

      <div class="header__crest-message">
        <span class="header__crest-message-text">
          {{watermark}}
        </span>
      </div>

      <div class="header__title">
        <h1 class="header__title-text">
          Contingency Refusal of an MOT Test Certificate
        </h1>
      </div>
    </div>
    <!-- /header -->

    <!-- boxes -->
    <div class="boxes">

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            MOT Test Number
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Vehicle Registration Mark
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Vehicle Identification Number
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Make
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Model
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Colour
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Issuer's name
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Test Class
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Country of Registration
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
          <span class="boxes__item-title">
            Approx First Use
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
          <span class="boxes__item-title">
            Odometer Reading
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
          <span class="boxes__item-title">
            Issued
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
          <span class="boxes__item-title">
            Test Station
          </span>
          <div class="boxes__item-box">
            <div id="test-station-id" class="boxes__item-content">
              <span class="boxes__item-text">
                {{vts}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-half boxes__item--ct30-small">
          <span class="boxes__item-title">
            Signature of Issuer
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-half boxes__item--ct30-small">
          <span class="boxes__item-title">
            Inspection Authority
          </span>
          <div class="boxes__item-box">
            <div id="inspection-authority" class="boxes__item-content">
              {{#each inspectionAuthority}}
                <span class="boxes__item-text">
                  {{{tabulator this}}}
                </span>
              {{/each}}
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--full boxes__item--extra-large">
          <span class="boxes__item-title boxes__item-title--bold">
            I certify that for the reason(s) shown below the vehicle was not shown to comply with the statutory requirements.
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--full boxes__item--ct30-advisories">
          <span class="boxes__item-title boxes__item-title--bold">
            Advisory Information
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

    </div>
    <!-- /boxes -->

    <!-- bottom -->
    <div class="bottom">
      <div class="bottom__inner bottom__inner--padding-top">
        <h2 class="bottom__heading">
          About this document
        </h2>

        <p class="bottom__paragraph bottom__paragraph--no-margin">
          1 This document tells you that your vehicle has not been shown to meet the minimum legal requirements for the reason(s) details. If you intend to use your vehicle on the road you should have it repaired without delay and have it retested before the existing validity expires.
        </p>

        <p class="bottom__paragraph bottom__paragraph--no-margin">
          2 Please keep this failure notice and produce it at the Testing Station in the event of a re-examination.
        </p>

        <p class="bottom__paragraph bottom__paragraph--no-margin">
          3 Whilst advisory items listed above to not constitute MOT failure items they are drawn to your attention for advice only.
        </p>

        <p class="bottom__paragraph bottom__paragraph--ct30-last-paragraph">
          4 Further information on retest fees or if you disagree with the test result can be found on the Fees and Appeals poster displayed in every vehicle station, by visiting www.gov.uk/getting-an-mot or contacting DVSA on 0300 123 9000*
        </p>
      </div>
    </div>
    <!-- bottom -->

    <!-- footer -->
    <div class="footer">
      <div class="footer__inner">
        <div class="footer__inner-left">
          <span class="footer__text">
            CT30/1.0
          </span>
        </div>

        <div class="footer__inner-right">
        </div>
      </div>
    </div>
    <!-- /footer -->

  </div>
</div>
<!-- /certificate -->
</body>
</html>
