<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>MOT test certificate</title>
  <style type="text/css" media="print, screen">
        {{~> assets/stylesheets/version-1-1 this}}
    </style>
</head>
<body>
<!-- certificate -->
<div class="certificate">
  <div class="certificate__wrapper">

    <!-- header -->
    <div class="header">
      <div class="header__crest">
        <img src="{{root}}/assets/images/dvsa-crest-1.1.png" alt="DVSA" class="header__crest-img"/>
      </div>

      <div class="header__crest-message">
        <span class="header__crest-message-text">
          {{{watermark}}}
        </span>
      </div>

      <div class="header__title">
        <h1 class="header__title-text">
          Contingency Refusal of an MOT Test Certificate
        </h1>
      </div>
    </div>
    <!-- /header -->

    <!-- boxes -->
    <div class="boxes">

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Contingency MOT Test Number
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            2a. Vehicle Registration
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            1. Vehicle Identification Number
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Make
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Model
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            Colour
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            9b. Issuer's name
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            5. EU Classification
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-third boxes__item--extra-small">
          <span class="boxes__item-title">
            2b. Country of Registration
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
          <span class="boxes__item-title">
            7. Result of the test
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
                Fail
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
          <span class="boxes__item-title">
            4. Odometer Reading
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
          <span class="boxes__item-title">
            3b. Issued
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
              <span class="boxes__item-text">
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-quarter boxes__item--extra-small">
          <span class="boxes__item-title">
            Test Station
          </span>
          <div class="boxes__item-box">
            <div id="test-station-id" class="boxes__item-content">
              <span class="boxes__item-text">
                {{{vts}}}
              </span>
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--one-half boxes__item--medium">
          <span class="boxes__item-title">
            Signature of Issuer
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
            </div>
          </div>
        </div>
        <!-- /box-item -->

        <!-- box-item -->
        <div class="boxes__item boxes__item--one-half boxes__item--medium">
          <span class="boxes__item-title">
            3a 9a. Inspection Authority
          </span>
          <div class="boxes__item-box">
            <div id="inspection-authority" class="boxes__item-content">
              {{#each inspectionAuthority}}
                <span class="boxes__item-text">
                  {{{tabulator this}}}
                </span>
              {{/each}}
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--full boxes__item--ct30-extra-large">
          <span class="boxes__item-title boxes__item-title">
            6. I certify that for the reason(s) shown below the vehicle was not shown to comply with the statutory requirements.
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

      <!-- boxes__row -->
      <div class="boxes__row">
        <!-- box-item -->
        <div class="boxes__item boxes__item--full boxes__item--medium-large">
          <span class="boxes__item-title boxes__item-title">
            6. Minor defects and advisory information
          </span>
          <div class="boxes__item-box">
            <div class="boxes__item-content">
            </div>
          </div>
        </div>
        <!-- /box-item -->
      </div>
      <!-- /boxes__row -->

    </div>
    <!-- /boxes -->

    <!-- bottom -->
    <div class="bottom">
      <div class="bottom__inner bottom__inner--padding-top">
        <h2 class="bottom__heading">
          About this document
        </h2>

        <p class="bottom__paragraph bottom__paragraph--no-margin">
          This document tells you that <span class="bottom__paragraph-bold">your vehicle doesn’t meet the minimum legal requirements</span> for road safety. If you intend to use your vehicle on the road you should have it repaired immediately and have it retested before the existing MOT test validity expires.
        </p>

        <p class="bottom__paragraph bottom__paragraph--no-margin">
          Show this document when you take your vehicle for a retest.
        </p>

        <p class="bottom__paragraph bottom__paragraph--no-margin">
          You can find out about retest fees and what to do if you disagree with the test result at <a href="www.gov.uk/getting-an-mot" class="bottom__link">www.gov.uk/getting-an-mot</a> or by contacting DVSA on 0300 123 9000.
        </p>

      </div>
    </div>
    <!-- bottom -->

    <!-- footer -->
    <div class="footer">
      <div class="footer__inner footer__inner--ct-certificate">
        <span class="footer__text">
          CT30/1.1
        </span>
      </div>
    </div>
    <!-- /footer -->

  </div>
</div>
<!-- /certificate -->
</body>
</html>
