<!--running-header -->

{{#if watermark}}
    <div class="running-header">
        <div class="running-header__inner">
            <span class="running-header__text">
                {{watermark}}
            </span>
        </div>
    </div>
{{/if}}

<!--/running-header -->